input {
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  width: 100%;
  border: 1px solid rgb(13, 98, 255);
  /* background: transparent; */
  background: var(--bg-glass-gradient);
}

input::placeholder {
  color: var(--muted-white);
}

.border_input_changed {
  border: 1px solid rgb(23, 218, 49);
}

button {
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(13, 98, 255);
}

button:hover {
  cursor: pointer;
  background: var(--bg-glass-gradient);
}

input:focus {
  /* outline-color: rgb(13, 98, 255); */
  border: 1px solid #3b82f6;
  box-shadow: 0 0 0 4px #3b83f65f;
  outline: none;
  outline: 1px solid rgb(13, 98, 255);
}

.main_setting {
  margin-top: 1rem;
}

.icon {
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}

.container_field_form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 1rem;
}

.title_container {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--muted-white);
  /* border-top: 1px solid var(--muted-white); */
}

.container_input {
  position: relative;
  width: 100%;
}

.container_input input {
  padding-right: 2.2rem;
}

.container_field_input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.btn_scan {
  display: inline-block;
  padding: 0.3rem 0.8rem;
}

/* .btn_scan:hover {
  background: var(--bg-glass-gradient);
} */

.container_btn_scan {
  position: relative;
}

.wifi_nearby {
  position: absolute;
  top: 2.2rem;
  right: 0;
  height: 15rem;
  min-width: 12rem;
  width: 15rem;
  background: var(--card);
  border: 1px solid var(--muted);
  border-radius: 0.3rem;
  padding: 0.5rem 0.6rem;
  display: none;
  z-index: 999;
  overflow-y: auto;
}

.test {
  border: 1px solid greenyellow;
}

.active {
  display: block;
}

.wifi_nearby_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 0.3rem .4rem;
  border-bottom: 1px solid var(--muted-white);
  margin-bottom: 0.6rem;
}

.btn_close_wifi_nearby {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3 ease;
}

.btn_close_wifi_nearby:hover {
  background: var(--bg-card);
}

.wifi_nearby_option {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.5rem;
  width: 100%;
  /* border-bottom: 1px solid var(--muted-white); */
  cursor: pointer;
  transition: all .3 ease;
  margin-bottom: .5rem;
}

.wifi_nearby_option:hover {
  background: var(--bg);
}

.btn_icon_eye {
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  padding: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.container_btn_save_setting {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}